#out {color:blueviolet}
p[align="left"]{
    color:aqua;
}
.sbox {background:#f0f0f0;color:blue}
h1+p{
    color:rgb(218,135,33);
}
div p {
    color:aquamarine;
}
div>p {
    color:rgb (113,27,73)
}
p {color:red}

h2 {
    color:rgb(255,255,0)
}
h3 {
    color:rgba(255,255,0,0.5)
}