div.min-w {
    background-color:aqua;
    width: 80%;
    height: 200px;
    min-width: 300px;
}
div.max-w {
    background-color:rgb(193, 233, 51);
    width: 80%;
    height: 200px;
    max-width: 300px;
}
   
body {
    margin: 0;
    padding: 0;
}
div.min-h {
    background-color:rgb(219, 112, 176);
    width: 80%;
    height: 70%;
    min-height: 100px;
}
div.max-h {
    background-color:rgb(153, 31, 104);
    width: 80%;
    height: 70%;
    max-height: 50px;
}
.overflow {
    overflow: scroll;
    background-color:rgb(175, 117, 152);
    width: 80%;
    height: 70%;
    max-height: 50px;
}
div {
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10pt;
    border-bottom-left-radius: 20pt;
}
