.block {
    display: inline-block;
    width: 21%;
    height: 150px;
    line-height: 170%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 2%;
    border: 2px solid;
}
.block:first-of-type {
    background-color: purple;
}
.block:nth-of-type(2) {
    background-color: salmon;
}
.block:nth-of-type(3) {
    background-color: rgb(235, 37, 15);
}
.block:last-of-type {
    background-color:seagreen;
}