table {
    border:5px solid purple;
}
th {
    border: 1px solid rgb(141, 141, 141);
}
td {
    border: 1px solid rgb(201, 107, 193);
}
caption {
    caption-side: bottom; /*меняет местами таблицу с текстом (текст внизу) табл. вверху*/
    text-align: left; /*меняет слово "Нумерация" в лево*/
}
td:nth-child(odd) {
    color:red
}
a {
    color:black; /*меняет цвет ссылки*/
}
a:link {
    color:#9c1b71; /*перебивает пред-ю ссылку */
}
a:visited {
    color:rgb(168, 110, 24);
}
a:focus {
    border-bottom: 1px solid; background: palevioletred; /*делает ссылку в цветной обводке при нажатиии*/
}
