ol li.red {
    color:red;
}
ol {
    list-style-type: upper-roman;
    color: seagreen;

}
ul {
    list-style-type: square;
    color:rgb(223, 128, 143);
}
.padding {
    background-color: purple;
    padding: 10px 20px 75px 30px;
}
.margin {
    background-color: seagreen;
    margin: 10px 20px 75px 30px;
}
ol.element {
    list-style-type: none;
    counter-reset:number;
}
ol.element li::before {
    content: counter(number)')';
    counter-increment: number;
}
blockquote::before {
    content: "<<";
}
blockquote::after {
    content: ">>";
}
ul.element2 {
    list-style-type: none;
    font-style:italic;
}
ul.element2 li::after /*можно before*/ {
    content:'-';
    color: #04b548;
}
img {
    border: 14px rgb(94, 128, 0) dotted;
    border-radius: 200px;
}