.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
}
.pos {
    position: absolute;
    border: 3px double coral;
    border-radius: 8px;
    padding: 2px;
    background-color: cornflowerblue;
    box-shadow: 0 0 12px 3px rgba (0, 0, 0, 0.45);
    cursor: pointer;
}
.pos1 {
    left: 20%;
    top: 60px;
}
.pos2 {
    left: 28%;
    top: 130px;
}
.pos3 {
    left: 50%;
    top: 20px;
}
.pos4 {
    left: 43%;
    top: 210px;
}
.pos:hover {
    z-index: 1;
}